
<h1><%= fish_char[:fish] %>. Scientific Name: <%= fish_char[:scientific] %></h1>

<div><%= fish_char[:photo] %></div>

<h2>
Description:
<%= fish_char[:description] %>
</h2>

<p>This fish lives in: <%= fish_char[:salt_fresh] %></p>
<p><a href='<%= fish_char[:wiki] %>'>Wiki</a></p>

<p><a href="/">Homepage</a></p>
